*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: black;
    height: 100px;
    width: 100%;
    
}

.header li{
    font-size: 40px;
    font-family: HGP行書体;
    float: left;
    padding-top: 30px;
    padding-left: 50px;
    list-style-type: none;
}

.header ul{
    margin-left: 500px;
}

a{
    text-decoration: none;
    color: white;
}

.main img{
    width: 100%;
}

h1{
    text-align: center;
    font-size: 70px;
    padding-top: 40px;
    font-family:serif
}

.main-text1{
    padding-top: 100px;
    padding-left: 150px;
    font-size:30px;
    line-height:2.5;
    
}

.main-photo2 img{
    width: 30%;
    margin-left: 870px;
    margin-top: -340px;
}