*{
    padding: 0;
    margin: 0;
}

header{
    background-color: black;
    height: 100px;
    width: 100%;
}

header li{
    font-size: 40px;
    font-family: HGP行書体;
    float: left;
    padding-top: 30px;
    padding-left: 50px;
    list-style-type: none;
}

header ul{
    margin-left: 500px;
}

header a{
    text-decoration: none;
    color: white;
}

header a:hover{
    color: #c4c40e;
}


main img{
    width: 100%;
    position: relative;
}


h1{
    text-align: center;
    font-size: 70px;
    padding-top: 40px;
    font-family: HGP行書体;
}

.header-border{
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-top: 80px;
}

.header-border:before, .header-border:after {
    border-top: 5px solid;
    content: "";
    width: 15%; 
    margin-top: 30px;
}

.header-border:before {
    margin-right: 1em; 
  }

.header-border:after {
    margin-left: 1em; 
  }
  
.main-text1 h2{
    font-size: 55px;
    margin-left: 80px;
    margin-top: 150px;
    font-family: HGP行書体;
    position: relative;
     padding-bottom: 0.5em;
     border-bottom: 4px solid #DDD;
}

.main-text1 h2::after {
    position: absolute;
    content: " ";
    border-bottom: solid 4px #446689;
    bottom: -4px;
    width:30%;
    display: block;
}

.main-text1 p{
    padding-top: 100px;
    padding-left: 100px;
    font-size:20px;
    line-height: 2.0;
    font-family:serif;
    float: left;
}





.main-picture2 img{
    width: 35%;
    margin-left: 150px;
    margin-top: 60px;
    
}



.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: yellow;
    position: absolute;
    margin-left: 810px;
    margin-top: -400px;
}

.circle-text p{
    font-size: 35px;
    margin-left: 825px;
    margin-top: -395px;
    font-family: HGP行書体;
    line-height: 1.2;
    color: red;
    position: absolute;
}

.main-picture3{
    margin-top: 150px;
}


.main-picture3 img{
    width: 35%;
    margin-top: 10px;
    margin-left: 250px;
    float: left;
}

.main-picture3 h3{
    margin-top: 100px;
    margin-left: 800px;
    font-size: 40px;
    font-family: HGP行書体;
    position: relative;
    padding-bottom: 0.5em;
    border-bottom: 4px solid #DDD;
}

.main-picture3 h3::after {
    position: absolute;
    content: " ";
    border-bottom: solid 4px #446689;
    bottom: -4px;
    width:30%;
    display: block;
}

.main-picture3 p{
    margin-top: 20px;
    margin-left: 800px;
    font-size: 20px;
    font-family:serif
}

.border{
    border-bottom: 1px  solid;
    width: 27%;
    margin-top: 10px;
    margin-left: 800px;
}

.cuisine-page{
    margin-left: -130px;
  
}

.cuisine-page a {
    font-size: 20px;
    margin-left: 350px;
    
}

.main-picture4 img{
    width: 35%;
    margin-top: 10px;
    margin-left: 250px;
    float: left;
}

.main-picture4 h3{
    margin-top: 40px;
    margin-left: 800px;
    font-size: 40px;
    font-family: HGP行書体;
    position: relative;
    padding-bottom: 0.5em;
    border-bottom: 4px solid #DDD;
}

.main-picture4 h3::after {
    position: absolute;
    content: " ";
    border-bottom: solid 4px #446689;
    bottom: -4px;
    width:30%;
    display: block;
}

.main-picture4 p{
    margin-top: 20px;
    margin-left: 800px;
    font-size: 20px;
    font-family:serif
}



.night-course1{
    background-color: rgb(206, 199, 199);
    height: 950px;
    width: 100%;
    margin-top: 10px;
    position: relative;
    clear: both;
    
}

.picture6{
    width: 40%;
    margin-left: 100px;
    margin-top: 30px;
    float: left;
   
}

.nebuta-text1 {
    font-size: 50px;
    padding-left: 1000px;
    margin-top: 10px;
    position: absolute;

    font-family:serif

}

.nebuta-text2 p{
    font-size: 28px;
    margin-top: 100px;
    margin-left: 800px;
    position: absolute;
    clear: both;

}


.hanabi-text1{
    font-size: 50px;
    padding-left: 300px;
    margin-top: 500px;
    position: absolute;
    font-family:serif
    
}

.hanabi-text2 p{
    font-size: 28px;
    margin-top: 600px;
    margin-left: 80px;
    position: absolute;
    
    
}

.picture7{
    width: 40%;
    margin-left: 850px;
    margin-top: 500px;
    position: absolute;
    
}

footer{
    background-color: white;
    height: 100px;
    width: 100%;
    margin-top: 20px;
}


footer li{
    font-size: 20px;
    font-family:serif;
    float: left;
    padding-top: 30px;
    padding-left: 30px;
    list-style-type: none;
}

footer ul{
    margin-left: 900px;
}

footer a{
    text-decoration: none;
    color: black;
}

footer a:hover{
    color: #c4c40e;
}